body {
  font-family: "Roboto";
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header header header"
    "nav content content"
    "nav content content";
}

.app-wrapper-content {
  grid-area: content;
  background-color: #202124;
}
